@* A diretiva @model define que a View é fortemente tipada e faz referencia à ViewModel que agrupa Lanche e Categoria *@
@model LancheListViewModel

<div>
    <h1>@Model.CategoriaAtual</h1>
</div>

<div class="container">
    <div class="row">

        @* Itera sobre a lista de lanches recebida via Model para renderizar o HTML de cada item *@
        @foreach(var lanche in Model.Lanches)
        @* Foi encapsulado o card de Lanche em uma Partial View para permitir a reutilização em
           outras páginas e centralizar a manutenção. *@
        {
            <partial name="_LanchesResumo" for="@lanche"/>
        }
    </div>
</div>